## 7.2. Data Cleaning and Processing with Pandas

### 7.2.1. Missing values

Real data often contains missing values.


- Checking for Missing Values

In [ ]:
float_data = pd.Series([1.2, -3.5, np.nan, 0, np.nan])
float_data

In [ ]:
float_data.isna()

In [ ]:
float_data.isna().sum()

- Removing Missing Values

In [ ]:
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
data

In [ ]:
data.dropna()

In [ ]:
# or equivalently
data[data.notna()]

- Rows with any missing values are excluded from the DataFrame.

In [ ]:
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data

In [ ]:
data.dropna()

- What if you want to exclude only rows where all values are missing?

In [ ]:
data.dropna(how = "all")

- What if you want to keep only rows with fewer than a certain number of missing values?

In [ ]:
df = pd.DataFrame(np.random.standard_normal((7, 3)))
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df

In [ ]:
df.dropna()

In [ ]:
df.dropna(thresh=2)

- What if you want to remove missing values by column instead of by row?

In [ ]:
df.dropna(axis = "columns")

- Filling Missing Values
    - You can use the `fillna` function to fill missing values with a specified value.

In [ ]:
df

In [ ]:
df.fillna(0)

In [ ]:
# you can fill missing values with different values for each column
df.fillna({1: 0.5, 2: 0})

In [ ]:
df

In [ ]:
# fill forward using the next value
df.fillna(method="bfill") # 'ffill' fills backward using the previous value

In [ ]:
# you can set a limit on the number of values to fill
df.fillna(method="bfill", limit=2)

In [ ]:
df.fillna(method="ffill")

In [ ]:
# fill with the mean of each column
df.fillna(df.mean())

### 7.2.2. Value replacement

- Filling in missing values can be considered a value replacement operation.
- The `replace` function allows you to easily replace values.

In [ ]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

In [ ]:
df.replace(0, 5) # value to value

In [ ]:
df.replace([0, 1, 2, 3], 4) # list to value

In [ ]:
df.replace([0, 1, 2, 3], [4, 3, 2, 1]) # list to list

### 7.2.3. Outlier detection

- Identifying outliers or anomalies is important in data analysis.
- Let's find the values that exceed an absolute value of 3 in the example dataset below.

In [ ]:
data = pd.DataFrame(np.random.standard_normal((1000, 4)))
data

In [ ]:
data.describe()

In [ ]:
# Find outliers in the third column
col = data[2]
col

In [ ]:
col.abs() > 3

In [ ]:
col[col.abs() > 3]

In [ ]:
data.abs() > 3

In [ ]:
(data.abs() > 3).any(axis = "columns")

In [ ]:
# Find rows that contain at least one outlier
data[(data.abs() > 3).any(axis="columns")]

- Replace outliers (absolute values greater than 3) with -3 or 3

In [ ]:
data[data.abs() > 3] = np.sign(data[data.abs() > 3]) * 3

In [ ]:
data.describe()

## 7.2.4. Randomization



*   Randomization plays a very important role in machine learning.
    *   Cross-validation
    *   Bootstrap / Subsampling
*   Using the `numpy.random.permutation` function, you can randomly reorder rows or columns of a dataset.

In [ ]:
v = np.arange(5 * 7).reshape((5,7))
df = pd.DataFrame(v)
df

*   Row permutation (Defualt)

In [ ]:
sampler = np.random.permutation(5)
sampler

In [ ]:
df.iloc[sampler]

In [ ]:
# or equivaletly
df.take(sampler)

*   Column permutation

In [ ]:
column_sampler = np.random.permutation(7)
column_sampler

df.iloc[:,column_sampler]

In [ ]:
# or equivaletly
df.take(column_sampler, axis="columns")

*   Subsampling

In [ ]:
df

In [ ]:
df.sample(n=3)

Bootstrapping (Sampling with replacement)

In [ ]:
df.sample(n = 5, replace = True)

### 7.2.5. Categorizing and Grouping

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame({"score": np.random.standard_normal(20)})
df

       score
0   1.106356
1   1.185026
2   0.679801
3  -0.372005
4   0.537941
5   0.412478
6  -0.165952
7  -1.922481
8  -1.173217
9  -0.527530
10  0.455194
11  0.212649
12 -0.210229
13 -0.311720
14  0.957538
15 -1.226492
16  1.362797
17 -0.581775
18 -0.089283
19 -0.906642

*   Creatint a categorical variable

In [ ]:
def categorize(x):
    if x < -0.5:
        return "low"
    elif x > 0.5:
        return "high"
    else:
        return "medium"

In [ ]:
df["category"] = df["score"].apply(categorize)
df

       score category
0   1.106356     high
1   1.185026     high
2   0.679801     high
3  -0.372005   medium
4   0.537941     high
5   0.412478   medium
6  -0.165952   medium
7  -1.922481      low
8  -1.173217      low
9  -0.527530      low
10  0.455194   medium
11  0.212649   medium
12 -0.210229   medium
13 -0.311720   medium
14  0.957538     high
15 -1.226492      low
16  1.362797     high
17 -0.581775      low
18 -0.089283   medium
19 -0.906642      low

*   `groupby` groups rows by column values and applies a function to each group.

In [ ]:
df.groupby("category")["score"].mean()

category
high      0.971577
low      -1.056356
medium   -0.008609
Name: score, dtype: float64

In [ ]:
df.groupby("category")["score"].std()

category
high      0.313097
low       0.513824
medium    0.324529
Name: score, dtype: float64